LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
{
1000, "Light"
}

STRINGTABLE
{
2000, "HoloV2 Light"
}

STRINGTABLE
{
3000, "Normal"
3001, "Large Fonts"
3002, "Extra Large Fonts"
}

STRINGTABLE
{
4000, "Normal"
4001, "Large Fonts"
4002, "Extra Large Fonts"
}

STRINGTABLE
{
5000, "HoloV2"
5001, "Visual Style"
5002, "MSVEC1024 HD"
5003, "MSVEC1024 HD, based on the holographic UI from early builds of Android Honeycomb."
5004, "Released under GNU/GPL 2.0, 2025"
5005, "https://elidianesampaiotrabuco.github.io/"
5006, "1.0"
5007, "Visual Style for ReactOS"
}